<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>

<body>
<form action="#" method="POST" enctype="multipart/form-data"
      style="width: 600px; margin: 100px auto">
    <div class="input-group">
      <input type="file" name="data_file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
      <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">提交</button>
    </div>
</form>
</body>

</html>
